@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));


:root{
    --primary-color: #009F88;   
    --secondary-color: #737CA1;   
    --accent-color: #30817f ;
    --background-color: #ecf0f1;
    --text: #222;
    --hero-bg: linear-gradient(135deg, #E5EDF1, #009f8790, #E5EDF1);
    --overlay: rgba(255,255,255,0.5);
    --shadow-color: #00000059;
}

.dark{
   
    --primary-color: #1abc9c;         /* teal */
    --secondary-color: #95a5a6;       /* soft gray */
    --accent-color: #16a085;          /* deep green */
    --background-color: #1e1e1e;      /* dark base */
    --text: #ecf0f1;                  /* light text */
    --hero-bg: linear-gradient(135deg, #1e1e1e, #145c58c7, #2c3e50);
    --overlay: rgba(0, 0, 0, 0.4);
    --shadow-color: #675f5f59;

}

@theme {
    --color-primary: var(--primary-color);
    --color-secondary:var(--secondary-color);
    --color-accent:var(--accent-color);
    --color-bg-color:var(--background-color);
    --color-txt-color:var(--text);
    --color-overlay:var(--overlay);
    --color-gray-7:var(--text-gray);
}